<mat-card class="card">


    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      
        <mat-form-field class="field-form">
            <mat-label>Email</mat-label>
            <input matInput [ngClass]="{'error':isValid('email')}" type="email" mdInput placeholder="Email"  formControlName="email">
        </mat-form-field>

        <mat-form-field class="field-form">
            <mat-label>Contraseña</mat-label>
            <input matInput [ngClass]="{'error':isValid('password')}" type="password" mdInput placeholder="Password" formControlName="password">

        </mat-form-field>

        <div  style="width: 100%;  padding-bottom: 20px;  padding-top: 20px;">
        <a href="{{this.DOMAIN}}register" style="color:#3f51b5; float: right;  padding-right: 20px;" >¿Has olvidado tu contraseña?</a>
        </div>
        
        <br>
        <br>
        <button mat-raised-button color="primary">Iniciar Sesión</button>
    </form>
</mat-card>
