<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Comprar Ahora</title>
</head>
<body>
  <div *ngIf="!paidFor">
    <h1></h1>
    <h1>Carrito</h1>
    <h1></h1>
    <mat-grid-tile 
    *ngFor="let product of this.cart">
            <div>
                
                    <img class="tile-image"
                    width="70%"
                    height="50%"
                    src={{product.ImageUrl}}/>
                <br>
                    <div class="product-info">
                        <a href={{product.productUrl}} class="product-link"><b>{{product.name}}</b></a> <b>{{ product.price}}</b>
                        
                    </div>
            </div>
    
        </mat-grid-tile>
    <h2>Total: ${{ total }}</h2>
    <h3>Pagar</h3>
  </div>

  <div *ngIf=paidFor>
    <h1>Su pedido será enviado pronto</h1>
  </div>

  <div [hidden]="paidFor" #paypal></div>
</body>
</html>